@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@theme {
  --font-jetbrains: JetBrains Mono, sans-serif;
  --color-principal: #5C1D9D;
  --color-secundaria: #00A099;
}